.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 16px 0;
  background: var(--bg);
  color: var(--text);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

:global([data-theme="light"]) .logo {
  filter: brightness(1) invert(0);
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navItem {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdownToggle {
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background: var(--card);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdownMenu a {
  text-decoration: none;
  color: var(--text);
}

.button {
  background: var(--button);
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: var(--bg);
  padding: 20px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  backdrop-filter: blur(4px);
}

.modalContent {
  background: var(--card);
  padding: 30px 61px;
  border-radius: 12px;
  width: 350px;

  z-index: 10000;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  background: var(--bg);
  border: 1px solid #444;
  border-radius: 8px;
  color: var(--text);
  outline: none;
}
