.footer {
  width: 100%;
  padding: 50px 0;
  background-color: var(--bg);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 120px;

  filter: brightness(0) invert(1);
}

:global([data-theme="light"]) .logo {
  filter: brightness(1) invert(0);
}

.contacts p {
  font-size: 14px;
  margin: 4px 0;
  color: var(--text);
  opacity: 0.8;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
  gap: 10px;
}

.input {
  background: var(--accent);
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: var(--text);
  outline: none;
  width: 240px;
}

.subBtn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.subBtn:hover {
  background: #333;
}

.hint {
  font-size: 10px;
  color: var(--text);
  opacity: 0.5;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}